* {
  margin: 0;
}

body {
  background-color: black;
}

.mentor {
  padding: 10px;
  background-color: black;
}

.mentor__mentorship {
  border: 3px solid #ff6bc4;
  padding: 20px;
  border-radius: 30px;
  background-color: #4786ff;
  margin-bottom: 20px;
}

.mentor__heading {
  margin-bottom: 10px;
}

.mentor__about {
  padding: 10px;
  text-align: center;
  background-color: #4786ff;
  border: 3px hidden;
  border-radius: 30px;
}

.mentor__title {
  margin-bottom: 30px;
}

.mentor__card__div {
  display: flex;
  flex-direction: column;
}

.mentor__card {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.mentor__image {
  width: 90vw;
}

.mentor__details {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

@media only screen and (min-width: 480px) {
  .mentor {
    padding: 0 15vw 30px 15vw;
  }

  .mentor__mentorship {
    padding: 50px 110px;
    border: 4px solid #ff6bc4;
    margin-bottom: 48px;
  }

  .mentor__about {
    padding: 50px 110px;
    border: 4px solid #ff6bc4;
  }

  .mentor__heading {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  .mentor__para {
    font-size: 24px;
  }

  .mentor__title {
    text-align: left;
    font-size: 48px;
    margin: 50px auto;
  }

  .mentor__card {
    position: relative;
    margin-bottom: 3.125vw;
  }

  .mentor__card_div {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .mentor__card_div > div {
    text-align: center;
  }

  .mentor__details {
    text-align: left;
    position: absolute;
    bottom: 1vw;
    left: 2vw;
  }

  .mentor__name {
    font-size: 24px;
  }

  .mentor__domain {
    font-size: 16px;
  }

  .mentor__image {
    width: 16vw;
    border: 4px solid #ff6bc4;
    border-radius: 24px;
  }
}
